<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\dashboard\static\login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>login</title>
</head>
<body>
    <div class="login-container">
        <div class="allocation-info">
            <span class="icon"><i class="fa fa-key" aria-hidden="true"></i></span>
            <span class="allocation-text">login</span>
        </div>
        <form action="">
            <fieldset>
                <span class="text">User Name:</span>
                <span class="input">
                    <input type="text" required>
                </span>
                <span class="text">Password:</span>
                <span class="input">
                    <input type="text" required>
                </span>
                <span class="button">
                    <input type="button" name="allocate" value="homeroom login">
                    <input type="reset" name="clear" value="admin login">
                </span>
            </fieldset>
        </form>
    </div>
</body>
</html>