<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\dashboard\static\index.css">
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\dashboard\static\manage.css">
    <link rel="stylesheet" href="C:\Users\sj02093\Desktop\programming\python\dashboard\static\dashboard-admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>admin-manage-page</title>
</head>
<body>
    <div id="page-grid">
        <div class="page-header">
            <nav id="top-nav">
                <div class="header-links-container">
                    <a class="header-links" href="">
                        <span>
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a class="header-links" href="">
                        <span>
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a class="header-links" href="">
                        <span>
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
                <div class="header-links-container">
                   <a class="header-links" href="">
                        <span>
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a class="header-links" href="">
                        <span>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </a> 
                </div> 
            </nav>
        </div>
        <div class="main-content">
                <aside>
                    <a class="aside-link" href="">
                        <span class="icon">
                            <i class="fa fa-microphone" aria-hidden="true"></i>
                        </span>
                        <span class="icon-text">Said Speeches</span>
                    </a>
                    <a class="aside-link" href="">
                        <span class="icon">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                        <span class="icon-text">Homeroom teachers</span>
                    </a>
                    <a class="aside-link" href="">
                        <span class="icon">
                            <i class="fa fa-sticky-note" aria-hidden="true"></i>
                        </span>
                        <span class="icon-text">Report</span>
                    </a>
                </aside>
                <main>
                    <div class="actions-bar">
                        <a class="action-link" href="C:\Users\sj02093\Desktop\programming\python\dashboard\templates\manage.html">
                            <span class="action-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span class="action-text">Manage</span>
                        </a>
                        <a class="action-link" href="C:\Users\sj02093\Desktop\programming\python\dashboard\templates\allocate-class.html">
                            <span class="action-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                            <span class="action-text">Allocate class</span>
                        </a>
                    </div>
                    <div class="form-info">
                                <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <span class="allocation-text">Manage teachers</span>
                            </div>
                    <div class="dashboard-record-output">
                        <fieldset>
                        <table id="dashboard-record-output-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Class</th>
                                        <th>Password</th>
                                        <th>Change</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>
                                            <button>Change</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>
                                            <button>Change</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>
                                            <button>Change</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>
                                            <button>Change</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                        <td>{{}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </fieldset>
                    </div>
                </main>
            </div>
        <div class="footer">
            <footer>@2026</footer>
        </div>
    </div>
</body>
</html>